In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"/Users/rohit/Downloads/My ML playlist/crime_project/data/cleaned_data/Police_natural_death_and_suicide")

In [6]:
df

,area_name,year,group_name,age_18_25_yrs,age_25_35_yrs,age_35_45_yrs,age_45_55_yrs,age_above_55_yrs,age_total
0,Andaman & Nicobar Islands,2001,Natural Deaths of Policemen while in Service,0,0,0,0,1,1
1,Andhra Pradesh,2001,Natural Deaths of Policemen while in Service,7,39,100,76,11,233
2,Arunachal Pradesh,2001,Natural Deaths of Policemen while in Service,0,2,0,0,0,2
3,Assam,2001,Natural Deaths of Policemen while in Service,0,2,4,8,3,17
4,Bihar,2001,Natural Deaths of Policemen while in Service,0,7,22,27,13,69
...,...,...,...,...,...,...,...,...,...
695,Tamil Nadu,2010,Suicides by Police Personnel,3,7,6,2,1,19
696,Tripura,2010,Suicides by Police Personnel,0,2,0,1,0,3
697,Uttar Pradesh,2010,Suicides by Police Personnel,0,2,1,3,0,6
698,Uttarakhand,2010,Suicides by Police Personnel,0,0,0,0,0,0
699,West Bengal,2010,Suicides by Police Personnel,0,7,2,1,1,11

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   area_name         700 non-null    object
 1   year              700 non-null    int64
 2   group_name        700 non-null    object
 3   age_18_25_yrs     700 non-null    int64
 4   age_25_35_yrs     700 non-null    int64
 5   age_35_45_yrs     700 non-null    int64
 6   age_45_55_yrs     700 non-null    int64
 7   age_above_55_yrs  700 non-null    int64
 8   age_total         700 non-null    int64
dtypes: int64(7), object(2)
memory usage: 49.3+ KB